<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create a new list</a>
                </p>
                <p>
                    <a href="{% url 'todo_item_create' %}">Create a new item</a>
                </p>
                        <table>
                            <thead>
                                    <th>Name</th>
                                    <th>Number of Items</th>
                            </thead>
                            <tbody>
                                {% for n in todolist_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'todo_list_detail' n.pk %}">{{n.name}}</a>
                                        </td>
                                        <td>
                                            {{n.items.all|length}}
                                        </td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
            </div>
        </main>
    </body>
</html>
